<html>
    <body>
        <h3 style="text-align: center;">Shri Swami vivekanand Shikshan Santha's</h3>
        <h1 style="text-align: center;">Vivekanand College,Kolhapur(Autonomous)</h1>
        <h4 style="text-align: center;">Remuneration Bill Form</h4>
        <table style="height: 72px; margin-left: auto; margin-right: auto; width: 801px;" border="1"><caption>&nbsp;</caption>
        <tbody>
        <tr>
        <td style="width: 194.15px;">Bank Name</td>
        <td style="width: 194.125px; text-align: left;">Bank A/C No</td>
        <td style="width: 194.125px;">IFSC Code</td>
        <td style="width: 194.6px;">Mobile No</td>
        </tr>
        <tr>
        <td style="width: 194.15px;">&nbsp;</td>
        <td style="width: 194.125px;">&nbsp;</td>
        <td style="width: 194.125px;">&nbsp;</td>
        <td style="width: 194.6px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <h4 style="text-align: center;">Faculty:-</h4>
        <h4 style="text-align: center;">Examination:-</h4>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; To&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Surname&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;First Name&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Father/Husband Name</p>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Full Name:- ___________&nbsp; &nbsp; &nbsp; __________&nbsp; &nbsp; &nbsp;____________</p>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Examiner/Moderator in the Subject_______________(Subject Code________)</p>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;at the class _______ Semester_____Examination of__________</p>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Note-Use Separate Bill for each Subject)</p>
        <p style="text-align: left;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Number of Answer Book Assessed and Moderate Summary.</p>
        <p style="text-align: left;">&nbsp;</p>
        <table style="height: 44px; width: 804px; margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr style="height: 31.8625px;">
        <td style="width: 102px; height: 31.8625px;">Sr.No&nbsp;</td>
        <td style="width: 102px; height: 31.8625px;">Date</td>
        <td style="width: 102px; height: 31.8625px;">Q.P.Code</td>
        <td style="width: 102px; height: 31.8625px;">From</td>
        <td style="width: 102px; height: 31.8625px;">To</td>
        <td style="width: 118.263px; height: 31.8625px;">No Of A.Bs Assessed</td>
        <td style="width: 131.737px; height: 31.8625px;">
        <p>No Of A.Bs Moderated</p>
        </td>
        </tr>
        <tr style="height: 31px;">
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 118.263px; height: 31px;">&nbsp;</td>
        <td style="width: 131.737px; height: 31px;">&nbsp;</td>
        </tr>
        <tr style="height: 31px;">
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 118.263px; height: 31px;">&nbsp;</td>
        <td style="width: 131.737px; height: 31px;">&nbsp;</td>
        </tr>
        <tr style="height: 31px;">
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 118.263px; height: 31px;">&nbsp;</td>
        <td style="width: 131.737px; height: 31px;">&nbsp;</td>
        </tr>
        <tr style="height: 31px;">
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 118.263px; height: 31px;">&nbsp;</td>
        <td style="width: 131.737px; height: 31px;">&nbsp;</td>
        </tr>
        <tr style="height: 31px;">
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 102px; height: 31px;">&nbsp;</td>
        <td style="width: 118.263px; height: 31px;">&nbsp;</td>
        <td style="width: 131.737px; height: 31px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <table style="width: 804px; height: 29px; margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr style="height: 20.8375px;">
        <td style="width: 529px; height: 20.8375px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Total</td>
        <td style="width: 115.9px; height: 20.8375px;">&nbsp;</td>
        <td style="width: 131.1px; text-align: center; height: 20.8375px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <table style="height: 31px; width: 804px; margin-left: auto; margin-right: auto;" border="1">
        <tbody>
        <tr style="height: 22.475px;">
        <td style="width: 370.375px; height: 22.475px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*Total No .Of Answer Books Assessed And Moderated</td>
        <td style="width: 174.625px; height: 22.475px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
        <table style="height: 25px; margin-left: auto; margin-right: auto; width: 804px;" border="1">
        <tbody>
        <tr>
        <td style="width: 643px;"><strong>A-Remuneration to Examiners /Moderators</strong></td>
        <td style="width: 147px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp; &nbsp;Rs.</strong></td>
        </tr>
        <tr>
        <td style="width: 643px;">
        <p><strong>1.Examining /Moderating:</strong></p>
        <p>&nbsp; *Total No. of Answer Books Assessed And&nbsp; Moderated&nbsp;<a href="mailto:Moderated______@Rs.____Per">____</a>_ @Rs. _____ Per&nbsp;&nbsp;Paper</p>
        <p><strong>2.Moderation Allowance:-</strong></p>
        <p><strong>3.Minimum Remuneration:-</strong></p>
        <p>&nbsp;</p>
        <p><strong>B - Remuneration Tob Staff</strong></p>
        <p>Designation ______Rs. ______ Per Day for _____Day's&nbsp;</p><br>
        </td>
        <td style="width: 147px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <table style="height: 22px; margin-left: auto; margin-right: auto; width: 804px;" border="1">
        <tbody>
        <tr style="height: 19.475px;">
        <td style="width: 642.413px; height: 19.475px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Grant Total</strong></td>
        <td style="width: 145.587px; height: 19.475px;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <table style="height: 25px; margin-left: auto; margin-right: auto; width: 803.95px;" border="1">
        <tbody>
        <tr style="height: 28.35px;">
        <td style="width: 794.95px; height: 28.35px;">Rs.(In Word):-_________________________________</td>
        </tr>
        </tbody>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Full Address:  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I have Not Claimed This Bill Before</p>
        <p>&nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________</p>
        <p>&nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;________________</p>
        <p>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Received Payment (Singnature &amp; Date)</p>
        <p>&nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  (<strong>Use One Rupee Revenue stamp If Amount Exceeds Rs.5,000/-</strong>)</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Director&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Finance &amp; Account&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  COE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Principale</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (CAP)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Officer</p>
    </body>
</html>