<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>exam_session</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <h1 class="display-4 text-center">Exam Session</h1>
            <form action='/'>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Exam session Name</th>
                            <th scope="col">Exam Year</th>
                            <th scope="col">pattern</th>
                            <th scope="col">Degree</th>
                            <th scope="col">Year</th>
                            <th scope="col">semester</th>
                            <th scope="col">Subject</th>
                        </tr>
                    </thead>
					{% for data in examsession %}
                    <tbody>
                        <tr>
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td>{{data[5]}}</td>
                            <td>{{data[6]}}</td>
                            
                        </tr>
                    </tbody>
					{% endfor %}
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-3 ">Home</button>
                </div>
        </div>
    </div>   
            </form>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"></script>
</body>

</html>