/*  function selected_row_body(event) {
    var selectedValue = event.target.value;
   backdataValue = selectedValue
    console.log("Selected value: " + selectedValue);
    console.log("onchange backdata: ", selectedValue);
    var backData = new FormData();
    backData.append("backdata", selectedValue);

    fetch("/backdata", { method: "POST", body: backData })
    .then(x => x.json())
    .then(backdata => {
        console.log("backdata =", backdata);
        while (backdata_div.firstChild) {
            backdata_div.removeChild(backdata_div.firstChild);
        }

      
     });

 }    -*/


/*     selected_row_body.onchange = function () {
    selbackdata = this.value;
    console.log("onchange backdata: ", selbackdata);


    var  backData= new FormData();
    backData.append("backData", selbackdata);

    fetch("/backdata", { method: "POST", body: backData })
    .then(x => x.json())
    .then(backdatas => {
        console.log("backdatas =", backdatas);
        while (backdata.options.length) {
            backdata.options.remove(0);
        }
        for (var i = 0; i < backdatas.length; i++) {
            var op = document.createElement("OPTION")
            op.innerHTML = "backdata " + backdatas[i];
            op.value = backdatas[i];
            backdata.options.add(op);
        }
    });

}
*/

@app.route('/backdata', methods=["POST"])
def backdata():
    papercount_id = request.form["papercount_id"]
    print("papercount_id:", papercount_id)
    cursor = mysql.connection.cursor()
    querysubject = 'select faculty.faculty,teacher.year,teacher.sem,subject.subject,coursename.coursename,coursename.course_id,paper_count.count,paper_count.quespaper_code,paper_count.remaining_paper,paper_count.papercount_id,issue_check.from_count,issue_check.to_count,issue_check.issue_date,issue_check.issue_check_id from issue_check  JOIN time_table  ON issue_check.timetable_id = time_table.timetable_id  JOIN subject ON time_table.subject_id = subject.subject_id JOIN coursename ON time_table.coursename_id = coursename.coursename_id JOIN faculty ON time_table.faculty_id = faculty.faculty_id inner join paper_count on paper_count.papercount_id=issue_check.papercount_id inner join teacher on teacher.teacher_id=issue_check.teacher_id where paper_count.papercount_id=%s'
    cursor.execute(querysubject, (papercount_id,))
    backdata = cursor.fetchall()

    print("backdata:", backdata)
    cursor.close()
    return jsonify(backdata)