<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Information</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function() {
$('#rollno').change(function() {
var selectedRollno = $(this).val();
$.ajax({
url: '/get_student_name/' + selectedRollno,
type: 'GET',
success: function(response) {
$('#studentName').text(response.name);
},
error: function(error) {
console.log(error);
}
});
});
});
</script>
</head>
<body>
<h1>Select Student faculty</h1>
<form>
<label for="faculty">Select faculty:</label>
<select id="faculty" name="faculty">
{% for faculty in faculty %}
<option value="{{ faculty }}">{{ faculty }}</option>
{% endfor %}
</select>
<br>
<label for="studentName">:</label>
<span id="studentName">---</span>
</form>

</body>
</html>