<form action ='/data' align="center" method="POST"> 

    <label for="pcheckername">Paper Checker Name:</label>
    <input type="text" id="exam" name="Pcheckername"><br>
    
    <label for="faculty">Faculty</lable>
        <select name="Faculty" id="group">
            <option value="B.A">B.A</option>
            <option value="B.Com">B.Com</option>
            <option value="B.Sc">B.Sc</option> 
            <option value="BBA">BBA</option> 
            <option value="BCA">BCA</option> 
            <option value="B.Voc">B.Voc</option> 
            <option value="M.Sc">M.Sc</option> 
        </select><br>
        
        <label for="sem">Sem</lable>
            <select name="Sem" id="group">
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option> 
                <option value="V">V</option> 
                <option value="VI">VI</option> 
                <option value="M-I">M-I</option>  
                <option value="M-II">M-II</option>
                <option value="M-III">M-III</option>
                <option value="M-IV">M-IV</option> 
                </select><br>


    <label for="coursename">Coursename</lable>
        <select name="Coursename" id="group">
            <option value="English">English</option>
            <option value="Economics(paper III)">Economics(paper III)</option>
            <option value="Political Science(paper III)">Political Science(paper III)</option> 
            <option value="Corporate Accounting paper-II">Corporate Accounting paper-II</option>
            <option value="India Capital Market">India Capital Market</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Electronics">Electronics</option>
            </select><br>

    <input type="submit" value="Submit">  

    </form>