<html>
    <body>
        <h1>Center Assessment Process</h1>
        <table>
        <tr>
            <td><h2>Faculty:</h2></td>
            <td><h2>{{faculty}}</h2></td>
        </tr>>
        <tr>
            <td><h2>Subject:</h2></td>
            <td><h2>{{subject}}</h2></td>
        </tr>
        <tr>
            <td><h2>Sem:</h2></td>
            <td><h2>{{Sem}}</h2></td>
        </tr>
        <tr>
            <td><h2>Question paper code:</h2></td>
            <td><h2>{{quescode}}</h2></td>
        </tr>
        <tr>
            <td><h2>Count:</h2></td>
            <td><h2>{{val}}</h2></td>
        </tr>
        <tr>
            <td><h2>Date:</h2></td>
            <td><h2>{{issudate}}</h2></td>
        </tr>
        </table>
    </body>
</html>