<!DOCTYPE html>
<html>

<head>
    <title>Search teacher_name</title>
    <style>
        /* Simple CSS for grid layout */
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .grid-item {
            margin-bottom: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" /> 
</head>

<body>

    <form action="/search_subject" method="POST">
        <label>
            <input type="radio" name="radio_option" value="teacher_name" onchange="showSearchBar('teacher_name')"> Teacher Name
        </label>&nbsp;&nbsp;
        <label>
            <input type="radio" name="radio_option" value="faculty" onchange="showSearchBar('faculty')"> Faculty
        </label>&nbsp;&nbsp;
        <label>
            <input type="radio" name="radio_option" value="course_name" onchange="showSearchBar('course_name')"> Course Name
        </label>

        <label>
            <input type="radio" name="radio_option" value="course_id" onchange="showSearchBar('course_id')"> Course_id
        </label>

        <label id="teacher_name-label" for="teacher_name" class="search-bar-label" style="display: none;">Teacher Name:</label>
        <input type="text" id="teacher_name" name="teacher_name" class="search-bar" style="display: none;" placeholder="Search Teacher name">
        
        <label id="faculty-label" for="faculty" class="search-bar-label" style="display: none;">Faculty:</label>
        <input type="text" id="faculty" name="faculty" class="search-bar" style="display: none;" placeholder="Search Faculty">

        <label id="course_name-label" for="course_name" class="search-bar-label" style="display: none;">Course Name:</label>
        <input type="text" id="course_name" name="course_name" class="search-bar" style="display: none;" placeholder="Search Course Name">
    
        <label id="course_id-label" for="course_id" class="search-bar-label" style="display: none;">Course_id:</label>
        <input type="text" id="course_id" name="course_id" class="search-bar" style="display: none;" placeholder="Search Course_id">
    
        <input type="submit" value="Search">
    </form>


    {% if result|length > 0 %}
    <form action='/paper_issue' method="POST">
        <h2>Search Results</h2>
        <table class="table table-striped table-bordered" border="5">
            <thead>
                <tr>
                    <th>Radio Column</th>
                    <th scope="col">Sr.no</th>
                    <th scope="col">faculty</th>
                    <th scope="col">year</th>
                    <th scope="col">sem</th>
                    <th scope="col">subject</th>
                    <th scope="col">coursename</th>
                    <th scope="col">course_id</th>
                    <th scope="col">count</th>
                    <th scope="col">quespaper_code</th>
                    <th scope="col">Remaining Paper Count</th>
                </tr>
            </thead>
            <tbody>
                {% for result in result %}
                <tr>
                    <td>
                        <input type="radio" name="selected_row" class="form-control" data-faculty="{{ result[0] }}"
                            data-year="{{ result[1] }}" data-sem="{{ result[2] }}" data-subject="{{ result[3] }}"
                            data-coursename="{{ result[4] }}" data-course_id="{{ result[5] }}"
                            data-count="{{ result[6] }}" data-quespaper_code="{{ result[7] }}"
                            data-teacher_id="{{ result[9] }}" data-timetable_id="{{ result[8] }}"
                            data-papercount_id="{{ result[10]}}" id="radio_{{ loop.index }}"
                            onclick="displaySelectedRow(this)">
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                    <td>{{ result[7] }}</td>
                    <td>{{ result[11] }}</td>
                    <input type="hidden" name="timetable_id[]" value="{{ result[8] }}">
                    <input type="hidden" name="papercount_id[]" value="{{ result[10] }}">
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <form action='/paper_issue' method="POST">
        <h2 id="selected_row_heading" style="display: none;">Selected Row</h2>
        <table id="selected_row_table" class="table table-striped table-bordered" border="1" style="display: none;">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>faculty</th>
                    <th>year</th>
                    <th>sem</th>
                    <th>subject</th>
                    <th>coursename</th>
                    <th>course_id</th>
                    <th>count</th>
                    <th>quespaper_code</th>
                    <th>Remaining Paper</th>
                    <th>Teacher Paper count</th>
                    <th>Issue Date</th>
                    <th>Received Date</th>
                </tr>
            </thead>    
            <tbody id="selected_row_body">
                {% for data in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                    <td>{{ data[5] }}</td>
                    <td>{{ data[6] }}</td>
                    <td>{{ data[7] }}</td>
                    <td>{{ data[11] }}</td>
                    <td>
                        <input type="text" name="teacher_paper_count[]" required>
                    </td>
                    <td>
                        <input type="date" name="issue_date[]" required>
                    </td>
                    <td>
                        <input type="date" name="received_date[]" required>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-3">Issue Paper</button>
        </div>
    </form>
    {% endif %}

    <script>
        function displaySelectedRow(radio) {
            if (radio.checked) {
                var row = radio.parentNode.parentNode;
                var selectedRowBody = document.getElementById('selected_row_body');
                selectedRowBody.innerHTML = "<tr> </tr>"
                var newRow = selectedRowBody.insertRow();
                console.log("row =", row)
                for (var i = 1; i < row.cells.length; i++) {
                    var cell = newRow.insertCell();
                    cell.textContent = row.cells[i].textContent;
                }


                // Add input fields for additional columns
            

                var teacherPaperCountCell = newRow.insertCell();
                teacherPaperCountCell.innerHTML = '<input type="text" name="teacher_paper_count[]"  required>'

                var issueDateCell = newRow.insertCell();
                issueDateCell.innerHTML = '<input type="date" name="issue_date[]" required>'

                var receiveDateCell = newRow.insertCell();
                receiveDateCell.innerHTML = '<input type="date" name="return_date[]"required>'
                

                // var timeDateCell = newRow.insertCell();
                // timeDateCell.innerHTML = '<input type="hidden" name="timetable_id[]"  >'

                // var paperDateCell = newRow.insertCell();
                // paperDateCell.innerHTML = '<input type="hidden" name="papercount_id[]"  >'

                // Add teacher_id input hidden field
                var teacherIdInput = document.createElement('input');
                teacherIdInput.type = 'hidden';
                teacherIdInput.name = 'teacher_id';
                teacherIdInput.value = radio.dataset.teacher_id;
                newRow.appendChild(teacherIdInput);

                var paperIdInput = document.createElement('input');
                paperIdInput.type = 'hidden';
                paperIdInput.name = 'papercount_id';
                paperIdInput.value = radio.dataset.papercount_id;
                newRow.appendChild(paperIdInput);

                var timetableIdInput = document.createElement('input');
                timetableIdInput.type = 'hidden';
                timetableIdInput.name = 'timetable_id';
                timetableIdInput.value = radio.dataset.timetable_id;
                newRow.appendChild(timetableIdInput);

                document.getElementById('selected_row_heading').style.display = 'block';
                document.getElementById('selected_row_table').style.display = 'block';
            } else {
                document.getElementById('selected_row_heading').style.display = 'none';
                document.getElementById('selected_row_table').style.display = 'none';
            }
        }
    
        
        function showSearchBar(category) {
            var searchBars = document.querySelectorAll('.search-bar');
            searchBars.forEach(function (bar) {
                bar.style.display = 'none';
            });

            var selectedSearchBar = document.getElementById(category);
            if (selectedSearchBar) {
                selectedSearchBar.style.display = 'block';
            }

            var labels = document.querySelectorAll('.search-bar-label');
            labels.forEach(function (label) {
                label.style.display = 'none';
            });

            var selectedLabel = document.getElementById(category + '-label');
            if (selectedLabel) {
                selectedLabel.style.display = 'block';
            }
        }

        $(function () {
            var teacherdata = [
                {% for item in datateacher %} 
                    "{{item}}",
                {% endfor %} 
            ];

            var facultydata = [
                {% for item1 in datafaculty %}
                    "{{item1}}",
                {% endfor %} 
            ];
            var coursedata = [
                {% for item2 in datacourse %}
                    "{{item2}}",
                {% endfor %} 
            ];

            var courseiddata = [
                {% for item3 in datacourseid %}
                    "{{item3}}",
                {% endfor %} 
            ];

            $("#teacher_name").autocomplete({
                source: teacherdata
            });
            $("#faculty").autocomplete({
                source: facultydata
            });
            $("#course_name").autocomplete({
                source: coursedata
            });

            $("#course_id").autocomplete({
                source: courseiddata
            });
        });
    </script>


</body>

</html>