<html>
{% set count=namespace(srno=0) %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add time table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <h2 class="text-center">Vivekanand College,kolhapur(Autonomous)</h2>
    <h3 class="text-center">Examination Final Program for </h3>


    <form action="/timetabledata" method="POST">
        <div class="form-group m-3">
            <label for="Examinationdrop"><strong>Examination Final Program for</strong></label>
            <SELECT id="Examinationdrop" name="Examsession_id" class="form-control">
                {% for j in joblist %}
                <OPTION value={{j[2]}}>{{j[0]}} {{j[1]}}</OPTION>
                {% endfor %}
            </SELECT>
        </div>

        <div class="form-group m-3">
            <label for="degree"><strong>Degree</strong></lable>
                <select name="degree" id="degreedrop" class="form-control" placeholder="Enter Duration" required>
                    <option value="UG">UG</option>
                    <option value="PG">PG</option>
                </select>
        </div>

        <div class="col-md-4 mb-3 d-grid">
            <label for="yeardrop" class="form-label"><strong>Year</strong></label>
            <select id="yeardrop" name="Year" class="form-control"></select>
        </div>


        <div class="col-md-4 mb-3 d-grid">
            <label for="sem" class="form-label"><strong>semester</strong></label>
            <select id="sem" name="Sem" class="form-control" required></select>
        </div>


        <div class="col-md-4 mb-3">
            <label for="pattern"><strong>pattern</strong></label>
            <SELECT id="patterndrop" name="pattern" class="form-control">
                {% for k in joblist2 %}
                <OPTION value={{k[1]}}>{{k[0]}}</OPTION>
                {% endfor %}
            </SELECT>
        </div>
        <div id="faculties_div">
            <label for="facultyDrop" name="faculty"><strong>Faculty</strong></lable><br>
        </div>

        <label for="subjectDrop" name="subject"><strong>Subject</strong></lable><br>
            <div id="subjects_div"></div>

            <label for="courseDrop" name="course"><strong>Course</strong></lable><br>
                <div id="course_div"></div>


                <div class="form-group m-3">
                    <label for="date1"><strong>Date</strong></label>
                    <input type="date" id="date1" class="form-control" name="date">
                </div>

                <div class="form-group m-3">
                    <label for="stime"><strong>Starttime</strong></label>
                    <input type="time" id="stime" class="form-control" name="starttime">
                </div>

                <div class="form-group m-3">
                    <label for="etime"><strong>Endtime</strong></label>
                    <input type="time" id="edate" class="form-control" name="endtime">
                </div>

                <div class="text-center">
                    <button type="save" class="btn btn-primary m-3">Open</button>
                </div>

    </form>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script>
        var facultyValue, subValue;

        degreedrop.onchange = function () {
            degree = this.value;
            console.log("degree:", degree)
            var duration
            if (degree == "UG") {
                duration = 3
            } else {
                duration = 2
            }
            while (yeardrop.options && yeardrop.options.length) {
                yeardrop.options.remove(0);
            }
            for (var i = 1; i <= duration; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                yeardrop.options.add(option);
            }

        }



        yeardrop.onchange = function () {
            selYear = this.value;
            console.log("onchange year: ", selYear);

            var yearData = new FormData();
            yearData.append("year", selYear);

            fetch("/getSem", { method: "POST", body: yearData })
                .then(x => x.json())
                .then(sems => {
                    console.log("sems =", sems);
                    while (sem.options.length) {
                        sem.options.remove(0);
                    }
                    for (var i = 0; i < sems.length; i++) {
                        var op = document.createElement("OPTION")
                        op.innerHTML = "Sem " + sems[i];
                        op.value = sems[i];
                        sem.options.add(op);
                    }
                });

        }


        patterndrop.onchange = function () {
            pattern = this.value;

            year = yeardrop.value
            sem = sem.value
            degree = degreedrop.value
            console.log("onchange pattern: ", pattern);
            console.log("onchange year: ", year);
            console.log("onchange semester: ", sem);
            console.log("onchange degree: ", degree);

            var patternData = new FormData();
            patternData.append("pattern", pattern);
            var degreeData = new FormData();
            degreeData.append("degree", degree);


            fetch("/faculty", { method: "POST", body: degreeData })
                .then(x => x.json())
                .then(faculties => {
                    console.log("faculties =", faculties);
                    while (faculties_div.firstChild) {
                        faculties_div.removeChild(faculties_div.firstChild);
                    }
                    for (var i = 0; i < faculties.length; i++) {
                        var radio = document.createElement("input");
                        radio.type = "radio";
                        radio.name = "facultyradio";
                        radio.id = "facultyradio";
                        radio.value = faculties[i][2]
                        radio.addEventListener("change", handleRadioChange);

                        var label = document.createElement("label");
                        label.htmlFor = "facultyradio";
                        label.appendChild(document.createTextNode(faculties[i][0]));
                        faculties_div.appendChild(radio);
                        faculties_div.appendChild(label);
                        faculties_div.appendChild(document.createElement("br"));
                    }
                });

        }

        function handleRadioChange(event) {
            var selectedValue = event.target.value;
            facultyValue = selectedValue
            console.log("Selected value: " + selectedValue);
            console.log("onchange faculty: ", selectedValue);
            var facultyData = new FormData();
            facultyData.append("faculty", selectedValue);

            fetch("/subject", { method: "POST", body: facultyData })
                .then(x => x.json())
                .then(subjects => {
                    console.log("subjects =", subjects);
                    while (subjects_div.firstChild) {
                        subjects_div.removeChild(subjects_div.firstChild);
                    }
                    for (var i = 0; i < subjects.length; i++) {
                        var radio = document.createElement("input");
                        radio.type = "radio";
                        radio.name = "subjectradio";
                        radio.id = "subjectradio";
                        radio.value = subjects[i][2]
                        radio.addEventListener("change", handleRadioChange1);

                        var label = document.createElement("label");
                        label.htmlFor = "subjectradio";
                        label.appendChild(document.createTextNode(subjects[i][0]));
                        subjects_div.appendChild(radio);
                        subjects_div.appendChild(label);
                        subjects_div.appendChild(document.createElement("br"));
                    }
                });

        }

        function handleRadioChange1(event1) {
            var selectedsubValue = event1.target.value;
            subValue = selectedsubValue
            console.log("Selected value: " + selectedsubValue);
            console.log("onchange subject: ", selectedsubValue);
            var subjectData = new FormData();
            subjectData.append("subject", selectedsubValue);

            fetch("/course", { method: "POST", body: subjectData })
                .then(x => x.json())
                .then(courses => {
                    console.log("courses =", courses);
                    while (course_div.firstChild) {
                        course_div.removeChild(course_div.firstChild);
                    }
                    for (var i = 0; i < courses.length; i++) {
                        var radio = document.createElement("input");
                        radio.type = "radio";
                        radio.name = "courseradio";
                        radio.id = "courseradio";
                        radio.value = courses[i][3]
                        // radio.addEventListener("change", handleRadioChange1);

                        var label = document.createElement("label");
                        label.htmlFor = "courseradio";
                        label.appendChild(document.createTextNode(courses[i][0]));
                        course_div.appendChild(radio);
                        course_div.appendChild(label);
                        course_div.appendChild(document.createElement("br"));
                    }
                });

        }

    </script>
</body>

</html>